# Symfony
/vendor/
/var/
/node_modules/
.env.local
.env.*.local
.phpunit.result.cache
/public/build
/public/uploads

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Composer
composer.lock
